<!DOCTYPE html>
<html>
<head>
	<!-- Choose your favorite stores-->	
	<title>Styell</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<!-- Meta Information-->	
	<meta name="description" content="Styell: Where Everyone Shops">
	<meta name="keywords" content="urban, fashion, style, clothes, pinterest, rohit tigga, dope, trendy">
	<meta name="author" content="Styell">
	<meta property="og:site_name" content="Styell" />
	<!--    <meta property="og:image" content="http://connect.com/assets/img/connect-share.jpg" />-->   
	<meta property="og:title" content="Styell" />
	<meta property="og:description" content="Life's too short to wear boring clothes.">
	<meta property="og:url" content="http://styell.com" />
	<meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1.0, maximum-scale=1.0">
	<link rel='shortcut icon' type='image/x-icon' href='/images/favicon.png'/>
	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css' />
	<link rel='stylesheet' href='/stylesheets/start.css' />
	<!-- scripts below -->
	<script src="https://unpkg.com/react@15/dist/react.min.js"></script>
	<script src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="/javascripts/stores.jsx" type="text/babel"></script>
</head>
<body>
	<div id="stores" class="wrapper">
		<p class="select">Select 3 or more stores to personalize your feed</p>
		<div id="stores-content"></div>
		<div class="topic-progress-bar" id="topic-progress-bar" style="transform: translateY(60px);">
			<span class="topic-done-text">Great picks! Select more activities or hit Done to proceed</span>
			<button type="button" onclick="doneActivities();" class="topic-picker-done-button">Done</button> 
		</div>
	</div>
</body>
</html>